[submodule "esp32-wilco"]
	path = esp32-wilco
	url = https://github.com/geekhelpsolutions/esp32-wilco
[submodule "esp32-nvshelper"]
	path = esp32-nvshelper
	url = https://github.com/geekhelpsolutions/esp32-nvshelper
[submodule "mqtthelper"]
	path = mqtthelper
	url = https://github.com/geekhelpsolutions/mqtthelper
